<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Log In</title>
</head>
<body>
<h1>Please Log In</h1>
<div th:if="${param.error}">
    Invalid username and password.</div>
<div th:if="${param.logout}">
    You have been logged out.</div>
<form id="loginForm" action="/api/login" method="POST" onsubmit="submitForm(event)">
    <div>
        <input type="text" id="username" name="username" placeholder="Username"/>
    </div>
    <div>
        <input type="password" id="password" name="password" placeholder="Password"/>
    </div>
    <input type="submit" value="Log in" />
</form>

<script type="text/javascript">
    function submitForm(event) {
        event.preventDefault(); // Prevent default form submission

        // Get username and password from form inputs
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        // Create a hidden input field for the JSON data
        var jsonDataInput = document.createElement("input");
        jsonDataInput.setAttribute("type", "hidden");
        jsonDataInput.setAttribute("name", "jsonData");
        jsonDataInput.setAttribute("value", JSON.stringify({ "username": username, "password": password }));

        // Append the hidden input field to the form
        document.getElementById("loginForm").appendChild(jsonDataInput);

        // Submit the form
        document.getElementById("loginForm").submit();
    }
</script>
</body>
</html>
